.message {
    display: flex;
    align-items: flex-end;
    margin: 10px;
}

.avatar {
    border-radius: 100px;
    border: 3px solid green;
    box-shadow: 0 0 7px #777;

}

.dialog {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px 5px 5px 0;
    padding: 7px;
    /*margin: 0 10px;*/
    color: #e0dada;
    display: flex;
    box-shadow: 3px 3px 15px #848282;

}

.dialog_figure {
    width: 15px;
    height: 15px;
    background: radial-gradient(circle at 0 0, rgba(0, 0, 0, 0) 15px, rgba(255, 255, 255, 0.3) 0);
}

/*.dialog:after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    z-index: 1;
    border-style: solid;
    border-width: 0 0 20px 22px;
    border-color: transparent transparent #2a2828 transparent;
    top: 90%;
    left: -22px;
    margin-top: -11px;
}*/

.content_message {
    padding: 10px;
    align-self: flex-start;
    max-width: 200px;
    word-wrap: break-word;
    margin-bottom: 15px;
}

.nick {
    color: #d2a4ff;
}

.time {
    color: #aea9a9;
    align-self: flex-end;
    margin: 0 5px;
}
