.superInput {
    background: #17cfea;
    color: #003295;
    margin: 15px;
}

.errorInput {
    border: 1px solid #72a8ff;
    background: #b4f2d4;
    border-radius: 5px;
    padding: 5px;
}

.error {
    color: red;
}